.galleryContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  width: 100%;
  background-color: white;
}

.proNumber {
  grid-row: 1;
  padding: 10px 0;
}

.proContainer {
  grid-column: 1 / 2;
  display: grid;
  margin: 20px 20px 0;
  height: 98vh;
  overflow: auto;
}

.proGallery {
  margin-top: 0;
  display: grid;
  gap: 2em;
}

.mapContainer {
  visibility: hidden;
}

@media screen and (min-width: 480px) {
  .galleryContainer {
    display: grid;
    grid-template-rows: fit-content(300px) fit-content(300px);
  }

  .mapContainer {
    visibility: visible;
    grid-row: 1 / 2;
    height: 33vh;
    width: 100%;
  }

  .proContainer {
    grid-template-rows: 50px fit-content(300px);
    margin: 10px 20px;
  }

  .proGallery {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
  }
}

@media screen and (min-width: 768px) {
  .galleryContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
  }

  .proContainer {
    grid-column: 1 / 2;
    grid-row: 1/2;
    display: grid;
    margin: 0 20px;
    overflow: auto;
    margin-top: 20px;
  }

  .pro {
    color: black;
    background-color: white;
    border-radius: 20px;
  }

  .mapContainer {
    grid-column: 2 / 3;
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .proNumber {
    color: rgb(21, 21, 21);
    font-size: 1.2em;
  }
}

.infoWindow {
  background-color: white;
  padding: 8px;
}
